.showLeft{
    transform: translate(-200%);
}

.showRight{
    transform: translate(0%);
}

.fullScale{
    transform: scale(100%);
}

.shrink{
    transform: scale(50%);
}

.parentContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    .sideBar{
        width: 28vw;
        height: 100vh;
        background-color: #c41e7f;
        color: white;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::-webkit-scrollbar{
            display: none;
        }
        .profileImage{
            width: 90%;
            height: 40vh;
            display: flex;
            justify-content: center;
            align-items: center;
            .imageDiv{
                width: 230px;
                height: 230px;
                position: relative;
                border-radius: 50%;
                border: 1px solid #2b2929;
                .changeImage{
                    position: absolute;
                    top: 78%;
                    left: 78%;
                    border: 0;
                    background-color: #c74290;
                    color: white;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    font-size: 20px;
                    cursor: pointer;
                    transition: .3s;
                    i{
                        transition: .3s;
                    }
                    &:hover{
                        transform: scale(120%);
                    }
                }
            }
        }
        .nameDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2, p{
                text-align: center;
            }
        }
        .sideBarPosts{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid #a8a6a696;
            border-bottom: 1px solid #a8a6a696;
            .addPost{
                border: 0;
                background-color: #c74290;
                color: white;
                cursor: pointer;
                width: 30px;
                height: 30px;
                position: absolute;
                top: 2px;
                right: 7px;
                font-size: 18px;
            }
        }
    }
    .workarea{
        width: 72vw;
        height: 100vh;
        background-color: white;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        .workarea-top{
            width: 100%;
            height: 70px;
            position: relative;
            overflow: hidden;
            background-color: transparent;
            display: flex;
            align-items: center;
            .workarea-nav-open{
                border: 0;
                background-color: transparent;
                color: #c41e7f;
                width: 40px;
                height: 40px;
                font-size: 30px;
                margin-left: 2vw;
                display: none;
                cursor: pointer;
            }
            .blogRedirect{
                position: absolute;
                top: auto;
                right: 30px;
                border: 0;
                background-color: transparent;
                color: #02021a;
                height: 40px;
                width: 70px;
                cursor: pointer;
                font-size: 18px;
                transition: .3s;
                display: flex;
                justify-content: space-around;
                align-items: center;
                i{
                    font-size: 24px;
                }
                &:hover{
                    color: #c41e7f;
                }
            }
        }

        .allPosts{
            width: 95%;
            border: 1px solid black;
            margin-left: 2.5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px 0;
        }
    }
}

.NewPostHeaderContainer{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5000;
    width: 100vw;
    height: 100vh;
    background-color: #00000022;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    .NewPostHeader{
        width: 400px;
        height: 250px;
        position: relative;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 5px 1px #1615153d;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: .3s;
        h2{
            margin-top: 10px;
        }
        .closeNewPostHeader{
            position: absolute;
            top: 0;
            right: 0;
            background-color: #c41e7f;
            color: white;
            font-size: 17px;
            border: 0;
            height: 40px;
            width: 40px;
            cursor: pointer;
            text-align: center;
            border-top-right-radius: 5px;
            outline: 0;
        }
        .TitleAndCategory{
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            justify-content: center;
            align-items: center;
            input{
                outline: 0;
                border: 1px solid #999797;
                width: 90%;
                height: 35px;
                font-family: "Poppins";
                padding: 5px;
                margin-top: 10px;
                border-radius: 3px;
                color: #2b2929;
                &::placeholder{
                    color: #3f3838af;
                }
            }
        }
        .CreatePost{
            width: 120px;
            height: 40px;
            color: white;
            background-color: #c41e7f;
            border: 0;
            cursor: pointer;
            font-size: 17px;
            font-family: "Poppins-Light";
            overflow: hidden;
            margin-top: 10px;
        }
    }
}

.mobileSideBarContainer{
    width: 100vw;
    height: 100vh;
    background-color: #00000055;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3000;
    display: none;
    .mobileSideBar{
        width: 75vw;
        height: 100vh;
        background-color: #c41e7f;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        transition: .5s;
        z-index: 4000;
        .mobileProfileImage{
            width: 90%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            .mobileImageDiv{
                width: 200px;
                height: 200px;
                position: relative;
                border-radius: 50%;
                border: 1px solid #2b2929;
                .mobileChangeImage{
                    position: absolute;
                    top: 78%;
                    left: 78%;
                    border: 0;
                    background-color: #c74290;
                    color: white;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    font-size: 20px;
                    cursor: pointer;
                    transition: .3s;
                    i{
                        transition: .3s;
                    }
                    &:hover{
                        transform: scale(120%);
                    }
                }
            }
        }
        .mobileNameDiv{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2, p{
                text-align: center;
            }
        }
        .mobileSideBarPosts{
            position: relative;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-top: 1px solid #a8a6a696;
            border-bottom: 1px solid #a8a6a696;
            .mobileAddPost{
                border: 0;
                background-color: #c74290;
                color: white;
                cursor: pointer;
                width: 30px;
                height: 30px;
                position: absolute;
                top: 2px;
                right: 7px;
                font-size: 18px;
            }
        }
    }
}

@media screen and(max-width: 960px) {
    .parentContainer{
        .sideBar{
            width: 0;
        }
        .workarea{
            width: 100vw;
            .workarea-top{
                .workarea-nav-open{
                    display: block;
                }
            }
        }
    }
}
