.parentContainer{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
    .sideBar{
        width: 30vw;
        height: 100vh;
        background-color: #c41e7f;
        color: white;
        overflow-x: hidden;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        &::-webkit-scrollbar{
            display: none;
        }
        .profileImage{
            width: 90%;
            height: 40vh;
            .imageDiv{
                width: 70%;
                height: 90%;
                margin-top: 5%;
                position: relative;
                border-radius: 50%;
                border: 1px solid #2b2929;
                margin-left: 15%;
                .changeImage{
                    position: absolute;
                    top: 78%;
                    left: 78%;
                    border: 0;
                    background-color: #c74290;
                    color: white;
                    border-radius: 50%;
                    height: 40px;
                    width: 40px;
                    font-size: 20px;
                    cursor: pointer;
                    transition: .3s;
                    i{
                        transition: .3s;
                    }
                    &:hover{
                        transform: scale(120%);
                    }
                }
            }
        }
    }
    .workarea{
        width: 70vw;
        height: 100vh;
        background-color: #dfd7d7;
        overflow-x: hidden;
        overflow-y: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
        .workarea-top{
            width: 100%;
            height: 70px;
            position: relative;
            overflow: hidden;
            background-color: transparent;
            .workarea-nav-open{
                border: 0;
                background-color: transparent;
                color: #c41e7f;
                width: 40px;
                height: 40px;
                font-size: 20px;
                margin-left: 2vw;
                display: none;
            }
            .blogRedirect{
                position: absolute;
                top: auto;
                right: 30px;
                border: 0;
                background-color: transparent;
                color: #02021a;
                height: 40px;
                width: 40px;
                cursor: pointer;
                font-size: 18px;
                transition: .3s;
                i{
                    font-size: 30px;
                }
                &:hover{
                    color: #c41e7f;
                }
            }
        }

        .allPosts{
            width: 95%;
            border: 1px solid black;
            margin-left: 2.5%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px 0;
        }
    }
}