@font-face {
  font-family: "Poppins";
  src: url("../assets/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../assets/Poppins-Light.ttf");
}

* {
  padding: 0;
  margin: 0;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  90% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.fadeIn {
  -webkit-animation: fadin .9s;
          animation: fadin .9s;
}

.hideNav {
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.showNav {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

body {
  font-size: 16px;
  font-family: "Poppins";
  opacity: 1;
  -webkit-animation: fadein .8s;
          animation: fadein .8s;
  overflow-x: hidden;
  overflow-y: auto;
}

.mobileNavContainer {
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  display: none;
}

.mobileNavContainer .mobileNav {
  width: 80vw;
  height: 100vh;
  background-color: white;
  margin-left: 20vw;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.mobileNavContainer .mobileNav .closeMobileNav {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #c41e7f;
  color: white;
  outline: 0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-size: 18px;
  border-radius: 50px;
}

.mobileNavContainer .mobileNav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 300px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 10px;
}

.mobileNavContainer .mobileNav ul li {
  cursor: pointer;
}

.mobileNavContainer .mobileNav ul li a {
  color: #c41e7f;
  text-decoration: none;
}

.mobileNavContainer .mobileNav ul li::after {
  content: "";
  width: 0;
  background-color: #c41e7f;
  display: block;
  height: 2px;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobileNavContainer .mobileNav ul li:hover::after {
  width: 100%;
}

.landing-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/book related.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  overflow-y: auto;
}

.landing-container::-webkit-scrollbar {
  display: none;
}

.landing-container .landing {
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: transparent;
  overflow-x: hidden;
  overflow-y: auto;
}

.landing-container .landing .titleDiv {
  width: 100vw;
  height: 50px;
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
}

.landing-container .landing .titleDiv .title {
  background-color: #b33e52;
  width: 50px;
  height: 60px;
  font-size: 40px;
  position: relative;
  color: white;
  margin-left: 2%;
}

.landing-container .landing .titleDiv .title::after {
  content: "Pearl C";
  display: inline-block;
  width: 150px;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-container .landing .titleDiv ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 550px;
  height: 40px;
  margin-right: 2%;
}

.landing-container .landing .titleDiv ul .newest i {
  font-size: 17px;
}

.landing-container .landing .titleDiv ul .newest::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50px;
}

.landing-container .landing .titleDiv ul .newest .newest-list {
  width: 200px;
  height: 0;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  opacity: 0.3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-transition: .1s;
  transition: .1s;
  cursor: default;
}

.landing-container .landing .titleDiv ul .newest:hover .newest-list {
  height: 70px;
}

.landing-container .landing .titleDiv ul .newest:hover i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  color: white;
}

.landing-container .landing .titleDiv ul li {
  cursor: pointer;
  position: relative;
}

.landing-container .landing .titleDiv ul li i {
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 14px;
}

.landing-container .landing .titleDiv ul li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
}

.landing-container .landing .titleDiv ul li::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #b33e52;
  -webkit-transition: .2s;
  transition: .2s;
}

.landing-container .landing .titleDiv ul li:hover i {
  color: #b33e52;
}

.landing-container .landing .titleDiv ul li:hover::after {
  width: 100%;
}

.landing-container .landing .titleDiv .OpenMobileNav {
  border: 0;
  color: white;
  background-color: transparent;
  font-size: 30px;
  width: 50px;
  height: 50px;
  margin-right: 1%;
  cursor: pointer;
  display: none;
}

.landing-container .landing .mainContent {
  width: 100vw;
  height: calc(100vh - 50px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-container .landing .mainContent .welcomeMessage {
  width: 60vw;
  padding-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-container .landing .mainContent .welcomeMessage .large {
  font-size: 80px;
  color: white;
  margin: 0;
}

.landing-container .landing .mainContent .welcomeMessage .IntroduceSelf {
  font-size: 20px;
  color: white;
}

.landing-container .landing .mainContent .welcomeMessage .IntroduceSelf .name {
  background-color: #b33e52aa;
  color: white;
}

.landing-container .landing .mainContent .welcomeMessage .IntroduceSelf .writer {
  color: #b33e52;
}

.landing-container .landing .mainContent .introMessage {
  width: 20vw;
  border-right: 5px solid #b33e52;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 65vh;
  background-color: #ffffff11;
  margin-right: 3%;
  color: white;
  padding: 10px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.landing-container .landing .mainContent .introMessage::-webkit-scrollbar {
  display: none;
}

.landing-container .landing .mainContent .introMessage .header {
  color: white;
  font-size: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.landing-container .landing .mainContent .introMessage .header::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  background-color: #b33e52;
}

.landing-container .landing .mainContent .introMessage p {
  font-size: 15px;
}

.landing-container .landing .mainContent .introMessage p a {
  color: white;
  -webkit-transition: .1s;
  transition: .1s;
}

.landing-container .landing .mainContent .introMessage p a:hover {
  color: #b33e52;
  text-decoration: none;
}

.landing-container .landing .contactDiv {
  width: 100%;
  background-color: #b33e52dd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing .contactDiv .subscribe {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.landing-container .landing .contactDiv .subscribe h3 {
  font-size: 25px;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .email {
  width: 300px;
  height: 40px;
  background-color: transparent;
  border-bottom: 2px solid white;
  outline: none;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  font-size: 16px;
  color: white;
  padding: 5px;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .email::-webkit-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .email:-ms-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .email::-ms-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .email::placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .submitEmail {
  border: 0;
  width: 200px;
  height: 40px;
  font-size: 17px;
  outline: none;
  background-color: #c41e7f;
  color: white;
  cursor: pointer;
  font-family: "Poppins";
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .submitEmail .fa-spinner {
  -webkit-animation: spin .5s infinite;
          animation: spin .5s infinite;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .submitEmail .fa-circle-check {
  color: #40e240;
}

.landing-container .landing .contactDiv .subscribe .subscribeForm .submitEmail .fa-x {
  color: red;
  font-size: 20px;
}

.landing-container .landing .contactDiv .mainContact {
  width: 50%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.landing-container .landing .contactDiv .mainContact h4 {
  color: white;
  font-size: 25px;
  margin-top: 20px;
}

.landing-container .landing .contactDiv .mainContact .sendEmail {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-container .landing .contactDiv .mainContact .sendEmail input {
  width: 250px;
  height: 40px;
  padding: 5px;
  background-color: transparent;
  border-bottom: 2px solid white;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
  color: white;
  margin-bottom: 8px;
}

.landing-container .landing .contactDiv .mainContact .sendEmail input:focus {
  background-color: #ffffff22;
}

.landing-container .landing .contactDiv .mainContact .sendEmail input::-webkit-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail input:-ms-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail input::-ms-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail input::placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail textarea {
  width: 247px;
  border-top: 1px solid #ffffff44;
  border-bottom: 1px solid #ffffff44;
  border-right: 1px solid #ffffff44;
  background-color: transparent;
  border-left: 3px solid #ffffff44;
  color: white;
  outline: none;
  height: 290px;
  padding: 5px;
  margin-bottom: 8px;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: "Poppins-Light";
}

.landing-container .landing .contactDiv .mainContact .sendEmail textarea:focus {
  background-color: #ffffff22;
}

.landing-container .landing .contactDiv .mainContact .sendEmail textarea::-webkit-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail textarea:-ms-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail textarea::-ms-input-placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail textarea::placeholder {
  color: #ffffff77;
}

.landing-container .landing .contactDiv .mainContact .sendEmail .sendEmailBtn {
  border: 0;
  color: white;
  background-color: #c41e7f;
  width: 200px;
  height: 40px;
  outline: none;
  cursor: pointer;
  font-size: 17px;
  font-family: "Poppins";
}

.landing-container .landing .contactDiv .mainContact .sendEmail .sendEmailBtn .fa-circle-check {
  color: #40e240;
}

.landing-container .landing .contactDiv .mainContact .sendEmail .sendEmailBtn .fa-x {
  color: red;
}

.landing-container .landing .contactDiv .mainContact .socials {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.landing-container .landing .contactDiv .mainContact .socials i {
  font-size: 20px;
  color: white;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
}

.landing-container .landing .contactDiv .mainContact .socials i:hover {
  color: #c41e7f;
}

@media screen and (max-width: 930px) {
  .landing-container .landing .mainContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .landing-container .landing .mainContent .welcomeMessage {
    width: 80vw;
    height: 70vh;
  }
  .landing-container .landing .mainContent .introMessage {
    width: 35vw;
    border-right: 0;
    border-left: 5px solid #b33e52;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
  }
}

@media screen and (max-width: 780px) {
  .landing-container .landing .titleDiv ul {
    display: none;
  }
  .landing-container .landing .titleDiv .OpenMobileNav {
    display: block;
  }
  .landing-container .landing .mainContent .welcomeMessage .large {
    font-size: 60px;
  }
  .landing-container .landing .contactDiv {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-container .landing .contactDiv .subscribe {
    margin: 20px 0 10px 0;
    width: 100%;
  }
  .landing-container .landing .contactDiv .mainContact {
    margin: 30px 0 10px 0;
    width: 100%;
  }
}

@media screen and (max-width: 670px) {
  .landing-container .landing .contactDiv .subscribe h3 {
    font-size: 20px;
  }
}

@media screen and (max-width: 565px) {
  .landing-container .landing .mainContent .welcomeMessage {
    width: 90vw;
  }
  .landing-container .landing .mainContent .welcomeMessage .large {
    font-size: 55px;
  }
  .landing-container .landing .mainContent .introMessage {
    width: 55vw;
  }
}

@media screen and (max-width: 435px) {
  .landing-container .landing .mainContent .welcomeMessage {
    width: 100vw;
    padding-left: 10px;
  }
  .landing-container .landing .mainContent .welcomeMessage .large {
    font-size: 50px;
  }
  .landing-container .landing .mainContent .welcomeMessage .IntroduceSelf {
    font-size: 16px;
  }
  .landing-container .landing .mainContent .introMessage {
    width: 80vw;
    margin-left: 10px;
  }
}

.showLeft {
  -webkit-transform: translate(-200%);
          transform: translate(-200%);
}

.showRight {
  -webkit-transform: translate(0%);
          transform: translate(0%);
}

.fullScale {
  -webkit-transform: scale(100%);
          transform: scale(100%);
}

.shrink {
  -webkit-transform: scale(50%);
          transform: scale(50%);
}

.parentContainer {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  overflow: hidden;
}

.parentContainer .sideBar {
  width: 28vw;
  height: 100vh;
  background-color: #c41e7f;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parentContainer .sideBar::-webkit-scrollbar {
  display: none;
}

.parentContainer .sideBar .profileImage {
  width: 90%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parentContainer .sideBar .profileImage .imageDiv {
  width: 230px;
  height: 230px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #2b2929;
}

.parentContainer .sideBar .profileImage .imageDiv .changeImage {
  position: absolute;
  top: 78%;
  left: 78%;
  border: 0;
  background-color: #c74290;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.parentContainer .sideBar .profileImage .imageDiv .changeImage i {
  -webkit-transition: .3s;
  transition: .3s;
}

.parentContainer .sideBar .profileImage .imageDiv .changeImage:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.parentContainer .sideBar .nameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parentContainer .sideBar .nameDiv h2, .parentContainer .sideBar .nameDiv p {
  text-align: center;
}

.parentContainer .sideBar .sideBarPosts {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a8a6a696;
  border-bottom: 1px solid #a8a6a696;
}

.parentContainer .sideBar .sideBarPosts .addPost {
  border: 0;
  background-color: #c74290;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  right: 7px;
  font-size: 18px;
}

.parentContainer .workarea {
  width: 72vw;
  height: 100vh;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.parentContainer .workarea::-webkit-scrollbar {
  display: none;
}

.parentContainer .workarea .workarea-top {
  width: 100%;
  height: 70px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parentContainer .workarea .workarea-top .workarea-nav-open {
  border: 0;
  background-color: transparent;
  color: #c41e7f;
  width: 40px;
  height: 40px;
  font-size: 30px;
  margin-left: 2vw;
  display: none;
  cursor: pointer;
}

.parentContainer .workarea .workarea-top .blogRedirect {
  position: absolute;
  top: auto;
  right: 30px;
  border: 0;
  background-color: transparent;
  color: #02021a;
  height: 40px;
  width: 70px;
  cursor: pointer;
  font-size: 18px;
  -webkit-transition: .3s;
  transition: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parentContainer .workarea .workarea-top .blogRedirect i {
  font-size: 24px;
}

.parentContainer .workarea .workarea-top .blogRedirect:hover {
  color: #c41e7f;
}

.parentContainer .workarea .allPosts {
  width: 95%;
  border: 1px solid black;
  margin-left: 2.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 10px 0;
}

.NewPostHeaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100vw;
  height: 100vh;
  background-color: #00000022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.NewPostHeaderContainer .NewPostHeader {
  width: 400px;
  height: 250px;
  position: relative;
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 1px #1615153d;
          box-shadow: 0 0 5px 1px #1615153d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .3s;
  transition: .3s;
}

.NewPostHeaderContainer .NewPostHeader h2 {
  margin-top: 10px;
}

.NewPostHeaderContainer .NewPostHeader .closeNewPostHeader {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #c41e7f;
  color: white;
  font-size: 17px;
  border: 0;
  height: 40px;
  width: 40px;
  cursor: pointer;
  text-align: center;
  border-top-right-radius: 5px;
  outline: 0;
}

.NewPostHeaderContainer .NewPostHeader .TitleAndCategory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.NewPostHeaderContainer .NewPostHeader .TitleAndCategory input {
  outline: 0;
  border: 1px solid #999797;
  width: 90%;
  height: 35px;
  font-family: "Poppins";
  padding: 5px;
  margin-top: 10px;
  border-radius: 3px;
  color: #2b2929;
}

.NewPostHeaderContainer .NewPostHeader .TitleAndCategory input::-webkit-input-placeholder {
  color: #3f3838af;
}

.NewPostHeaderContainer .NewPostHeader .TitleAndCategory input:-ms-input-placeholder {
  color: #3f3838af;
}

.NewPostHeaderContainer .NewPostHeader .TitleAndCategory input::-ms-input-placeholder {
  color: #3f3838af;
}

.NewPostHeaderContainer .NewPostHeader .TitleAndCategory input::placeholder {
  color: #3f3838af;
}

.NewPostHeaderContainer .NewPostHeader .CreatePost {
  width: 120px;
  height: 40px;
  color: white;
  background-color: #c41e7f;
  border: 0;
  cursor: pointer;
  font-size: 17px;
  font-family: "Poppins-Light";
  overflow: hidden;
  margin-top: 10px;
}

.mobileSideBarContainer {
  width: 100vw;
  height: 100vh;
  background-color: #00000055;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  display: none;
}

.mobileSideBarContainer .mobileSideBar {
  width: 75vw;
  height: 100vh;
  background-color: #c41e7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 4000;
}

.mobileSideBarContainer .mobileSideBar .mobileProfileImage {
  width: 90%;
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileSideBarContainer .mobileSideBar .mobileProfileImage .mobileImageDiv {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  border: 1px solid #2b2929;
}

.mobileSideBarContainer .mobileSideBar .mobileProfileImage .mobileImageDiv .mobileChangeImage {
  position: absolute;
  top: 78%;
  left: 78%;
  border: 0;
  background-color: #c74290;
  color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-size: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.mobileSideBarContainer .mobileSideBar .mobileProfileImage .mobileImageDiv .mobileChangeImage i {
  -webkit-transition: .3s;
  transition: .3s;
}

.mobileSideBarContainer .mobileSideBar .mobileProfileImage .mobileImageDiv .mobileChangeImage:hover {
  -webkit-transform: scale(120%);
          transform: scale(120%);
}

.mobileSideBarContainer .mobileSideBar .mobileNameDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobileSideBarContainer .mobileSideBar .mobileNameDiv h2, .mobileSideBarContainer .mobileSideBar .mobileNameDiv p {
  text-align: center;
}

.mobileSideBarContainer .mobileSideBar .mobileSideBarPosts {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #a8a6a696;
  border-bottom: 1px solid #a8a6a696;
}

.mobileSideBarContainer .mobileSideBar .mobileSideBarPosts .mobileAddPost {
  border: 0;
  background-color: #c74290;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 2px;
  right: 7px;
  font-size: 18px;
}

@media screen and (max-width: 960px) {
  .parentContainer .sideBar {
    width: 0;
  }
  .parentContainer .workarea {
    width: 100vw;
  }
  .parentContainer .workarea .workarea-top .workarea-nav-open {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */