@font-face {
    font-family: "Poppins";
    src: url("../assets/Poppins-Medium.ttf");
}

*{
    padding: 0;
    margin: 0;
}

@keyframes fadein{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.fadeIn{
    animation: fadin .9s;
}

body{
    font-size: 16px;
    font-family: "Poppins";
    opacity: 1;
    animation: fadein .8s;
    overflow-x: hidden;
    overflow-y: auto;
}

.landing-container{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/book related.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar{
        display: none;
    }
    .landing{
        width: 100vw;
        height: 100vh;
        backdrop-filter: blur(10px);
        background-color: transparent;
        overflow-x: hidden;
        overflow-y: auto;
        .titleDiv{
            width: 100vw;
            height: 50px;
            background-color: transparent;
            position: sticky;
            top: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            backdrop-filter: blur(10px);
            .title{
                background-color: #b33e52;
                width: 50px;
                height: 60px;
                font-size: 40px;
                position: relative;
                color: white;
                margin-left: 2%;
                &::after{
                    content: "Pearl C";
                    display: inline-block;
                    width: 150px;
                    height: 40px;
                    position: absolute;
                    top: 0;
                    left: 0;
                }
            }
            ul{
                list-style-type: none;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                width: 550px;
                height: 40px;
                margin-right: 2%;

                .newest{
                    i{
                        font-size: 19px;
                    }
                    &::before{
                        content: "";
                        display: inline-block;
                        width: 8px;
                        height: 8px;
                        background-color: red;
                        border-radius: 50px;
                    }

                    .newest-list{
                        width: 200px;
                        height: 0;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: white;
                        opacity: 0.3;
                        backdrop-filter: blur(10px);
                        transition: .1s;
                        cursor: default;
                    }

                    &:hover{
                        .newest-list{
                            height: 70px;
                        }
                        i{
                            transform: rotate(180deg);
                            color: white;
                        }
                    }
                }

                li{
                    cursor: pointer;
                    position: relative;
                    i{
                        transition: .2s;
                        font-size: 14px;
                    }
                    a{
                        text-decoration: none;
                        color: white;
                        font-size: 19px;
                    }
                    &::after{
                        content: "";
                        display: block;
                        width: 0;
                        height: 3px;
                        background-color: #b33e52;
                        transition: .2s;
                    }
                    &:hover{
                        i{
                            color: #b33e52;
                        }
                        &::after{
                            width: 100%;
                        }
                    }
                }
            }
            .OpenMobileNav{
                border: 0;
                color: white;
                background-color: transparent;
                font-size: 23px;
                width: 50px;
                height: 50px;
                margin-right: 1%;
                cursor: pointer;
                display: none;
            }
        }
    }
}
